.Root {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #eee;
	padding: 10px;
}

.img {
	max-width: 143px;
}

img {
	max-width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bolder;
	word-wrap: break-word;
}

.author {
	color: #3e3e3e;
}
