.Root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eee;
	padding: 10px;
	width: 164px;
}

.img {
	width: 143px;
}

img {
	max-width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bolder;
	word-wrap: break-word;
}

.author {
	color: #3e3e3e;
}

.btn {
	height: 25px;
	margin: 10px 0 5px;
	border: 1px solid orange;
	padding: 7px 5px 4px;
	border-radius: 10px;
	cursor: pointer;
}
