.Root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #eee;
	padding: 10px;
	width: 200px;
}

.img {
	width: 180px;
	height: 280px;
	padding-bottom: 5px;
}

img {
	max-width: 100%;
	min-height: 100%;
	object-fit: contain;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bolder;
}

.author {
	color: #3e3e3e;
}

.btns {
	display: flex;
	gap: 10px;

	margin: 10px 0 5px;
}

.btn:hover {
	border-style: dashed;
}
