.Root {
	background: var(--header-bg-color);
	padding: 15px 25px;
	font-size: 26px;

	display: flex;
	justify-content: space-between;
}

.Root a {
	text-decoration: none;
	color: var(--header-content-color);
}
