.close {
	position: absolute;
	right: 10px;
	top: 4px;
	cursor: pointer;
	color: var(--modal-close-button-color);

	font-size: 36px;
}

.close::after {
	transition: all ease-in-out 0.3s;
	content: '×';
	display: inline-block;
	/* inline-block, чтобы работал scale() */
}

.close:hover::after {
	transform: scale(1.2);
}
