.Root {
	display: flex;
}

.button {
	background: var(--theme-bg);
	border-radius: 0;
}

.button1 {
	border-radius: 8px 0 0 8px;
}

.button2 {
	border-radius: 0 8px 8px 0;
}

.button:hover {
	background: var(--button-hover-background);
	color: var(--button-hover-color);
}

.button:active {
	background: var(--button-active-background);
	transition: 0.2s;
}

.active {
	transform: scale(1.05);
}

@media (max-width: 450px) {
	.button {
		font-size: 16px;
		min-width: 50px;
	}

	.button1 {
		border-radius: 6px 0 0 6px;
	}

	.button2 {
		border-radius: 0 6px 6px 0;
	}
}
